@using InfoScreenPi.Entities
@model IEnumerable<User>

@{
    ViewData["Title"] = "Configuratie";
}

<hr/>
@**************************** ACTIVE ITEMS ****************************@
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            Items
            <div class="btn-group pull-right" role="group" aria-label="...">
                <button type="button" id="openArchive" class="btn btn-default"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;Archief</button>
                <button type="button" id="nieuw" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp;Nieuw</button>
            </div>
        </h2>
    </div>@*
    <div class="panel-body">
        <p>...</p>
    </div>*@
    <div id="itemsTable">
        @{Html.RenderPartial("ItemsTable", (List<Item>)ViewBag.ActiveItems);}
    </div>
</div>

<hr/>
@**************************** TICKER ITEMS ****************************@
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            Ticker Items
        </h2>
    </div>
    <div class="panel-body">
        <p>
            Pas de inhoud aan door iedere rij aan te passen. Voeg een nieuwe rij toe voor extra infoveld.<br />
            Na wijzigingen op opslaan drukken!
        </p>
        <textarea class="form-control" id="TickerData" rows="5">
            @foreach (string dataLine in ViewBag.TickerItems as List<string>) {
                @Html.Raw(dataLine + "\n")
            }
        </textarea> <br>  
        <button type="button" id="TickerOpslaan" class="btn btn-primary">Opslaan</button>
    </div>
</div>

<hr/>
@**************************** CREATE ITEMS ****************************@
<h1>
    Create Slide
</h1>
<form>
    <textarea name="editor1" id="editor1" rows="10" cols="80">
        This is my textarea to be replaced with CKEditor.
    </textarea>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'editor1' , {
            language: 'nl'
        });
    </script>
</form>

